<div class="header">
  <div class="circle">
    <div class="text">W</div>
  </div>
  <div>
    <form action="/thongtin" method="POST">
      <input
        class="headertext"
        type="submit"
        name="thaydoi"
        value="THÔNG TIN"
      />
    </form>
  </div>
  <div>
    <form action="/tiepnhansanh" method="POST">
      <input
        class="headertext"
        type="submit"
        name="thaydoi"
        value="TIẾP NHẬN SẢNH"
      />
    </form>
  </div>
  <div>
    <form action="/tracuu" method="POST">
      <input class="headertext" type="submit" name="thaydoi" value="TRA CỨU" />
    </form>
  </div>
  <div>
    <form action="/laphoadon" method="POST">
      <input
        id="short1"
        class="headertext"
        type="submit"
        name="thaydoi"
        value="LẬP HÓA ĐƠN THANH TOÁN"
      />
    </form>
  </div>
  <div>
    <form action="/thaydoiquydinh" method="POST">
      <input
        id="short2"
        class="headertext"
        type="submit"
        name="thaydoi"
        value="THAY ĐỔI QUI ĐỊNH"
      />
    </form>
  </div>
  <div>
    <form action="/lapbaocao" method="POST">
      <input
        class="headertext"
        type="submit"
        name="thaydoi"
        value="LẬP BÁO CÁO"
      />
    </form>
  </div>
  <form action="/logout" method="POST">
    <input
      class="headertext"
      type="image"
      name="thaydoi"
      src="staff/signout.svg"
      alt=""
    />
  </form>
</div>
