<%- include("partials/header.ejs") %>
<div class="container" style="filter: blur(5px)">
  <%- include("partials/headerbar.ejs") %>
  <div class="rest2">
    <div class="leftgrid">
      <div class="table1">
        <div class="tabletext2">DANH SÁCH SẢNH</div>
        <div class="intable">
          <table class="danhsachsanh">
            <tr>
              <th>MÃ SẢNH</th>
              <th>TÊN SẢNH</th>
              <th>LOẠI SẢNH</th>
              <th>SỐ LƯỢNG BÀN TỐI ĐA</th>
              <th>ĐƠN GIÁ BÀN TỐI THIỂU</th>
            </tr>
            <tr>
              <td>S001</td>
              <td>Bạch kim 1</td>
              <td>A</td>
              <td>80</td>
              <td>10000</td>
            </tr>
            <tr>
              <td>S001</td>
              <td>Bạch kim 1</td>
              <td>A</td>
              <td>80</td>
              <td>10000</td>
            </tr>
            <tr>
              <td>S001</td>
              <td>Bạch kim 1</td>
              <td>A</td>
              <td>80</td>
              <td>10000</td>
            </tr>
          </table>
        </div>
      </div>

      <div class="table1">
        <div class="tabletext2">DANH SÁCH CÁC LOẠI SẢNH</div>
        <div class="intable">
          <table class="danhsachsanh">
            <tr>
              <th>MÃ SẢNH</th>
              <th>TÊN LOẠI SẢNH</th>
              <th>ĐƠN GIÁ BÀN TỐI THIỂU</th>
              <th>GHI CHÚ</th>
            </tr>
            <tr>
              <td>S001</td>
              <td>Bạch kim 1</td>
              <td>A</td>
              <td>ko có</td>
            </tr>
            <tr>
              <td>S001</td>
              <td>Bạch kim 1</td>
              <td>A</td>
              <td>80</td>
            </tr>
            <tr>
              <td>S001</td>
              <td>Bạch kim 1</td>
              <td>A</td>
              <td>ko có</td>
            </tr>
          </table>
        </div>
      </div>
    </div>

    <div class="rightgrid">
      <div class="seconddiv">
        <div class="bigtext">TIẾP NHẬN SẢNH</div>
        <div class="thirddiv">
          <div>
            <div class="smalltext">Mã sảnh:</div>
            <div class="showtext2"></div>
          </div>
          <div>
            <div class="smalltext">Tên sảnh:</div>
            <div class="showtext2"></div>
          </div>
          <div>
            <div class="smalltext">Loại sảnh:</div>
            <div class="showtext2"></div>
          </div>
          <div>
            <div class="smalltext">Số lượng bàn đối đa:</div>
            <div class="showtext2"></div>
          </div>
          <div>
            <div class="smalltext">Ghi chú:</div>
            <div class="showtext2"></div>
          </div>
        </div>
        <div class="buttons">
          <div class="hoverbutton">
            <div class="buttontext">CẬP NHẬT</div>
          </div>
          <div class="hoverbutton">
            <div class="buttontext">XÓA SẢNH</div>
          </div>
        </div>
      </div>
      <div class="lastbutton">
        <div class="buttontext">TẠO SẢNH MỚI</div>
      </div>
    </div>
  </div>
</div>
<div class="popup">
  <div class="popup-content">
    <div
      style="
        position: absolute;
        margin-left: 500px;
        z-index: 1;
        margin-bottom: 250px;
      "
    >
      <form action="/tiepnhansanh" method="POST">
        <input type="image" name="thaydoi" src="staff/cross.svg" alt="" />
      </form>
    </div>
    <div class="firsttext">Xác nhận xóa sảnh</div>
    <div class="confirm">
      <form action="/xacnhanxoasanh" method="POST">
        <input
          class="passtxt"
          style="width: 350px; border-radius: 10px; height: 45px"
          id="short1"
          class="headertext"
          type="submit"
          name="thaydoi"
          value="XÁC NHẬN"
        />
      </form>
    </div>
  </div>
</div>
<%- include("partials/footer.ejs") %>
